*{
	margin: 0;
	padding: 0;
}
body{
    background-color: #FFFFFF;
}
header{
    width: 95%;
    background: #EFEFEF;
    margin: 2.5%;
    position: relative;
}

#navigation{
    display: flex;
    text-align: center;
    height: 100%;
}
.logo{
    flex-basis: 80%;
    font-family: 'Cabin', sans-serif;
    font-size: 28px;
    margin-top: 4%;
    margin-left: 25%;
}
#project{
    text-decoration: underline;
}

.menu{
    font-size: 14px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    margin-top: 5%;
    margin-right: 3%;
}
.contact{
    margin-right: 5%;
}

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  align-items: center;
  position: absolute;
  margin-left: 5%;
  margin-top: -1.5%;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 2;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box{
	display: none;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
#text{
  font-family: 'Cabin', sans-serif;
  margin-left: 45vw;
  margin-top: 2%;
}
#text>span{
  font-size: 10px;
}
#text>span>p{
	font-size: 16px;
	margin-top: 3%;
}
#block{
  width: 100%;
  height: 10%;
  margin-top: 35%;
  position: absolute;
  background-color: white;
}
#imgCenter{
  margin-left: 17.5%;
  margin-top: 2.5%;
  position: relative;
  display: block;
}
#Footer{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 30%;
}
#textFooter1{
  font-family: 'Cabin', sans-serif;
  text-align: end;
  padding-right: 2%;
  width: 200px;
}
#fotterFlex{
  display: flex;
  flex-direction: column;
}
#textFooter2{
  font-family: 'Cabin', sans-serif;
	font-size: 12px;
  color: #A9A9A9;
}
#textFotter3{
  font-family: 'Cabin', sans-serif;
  font-size: 10px;
  padding-top: 15px;
  display: flex;
}
#button{
  text-align: center;
  font-size: 14px;
  outline: none;
  width: 150px;
  height: 48px;
  margin-left: 75%;
  background-color: #fff;
  border: 0.5px solid #A9A9A9;
}
#button:hover{
  background-color: rgb(199, 206, 209);
}

@media (max-width: 600px){
  .menu{
    display: none;
  }
  #Footer{
    margin-left: 10%;
  }
  #button{
    margin-left: 35%;
  }

  header{
    width: 100%;
    margin: 0;
  }
  .menu__btn{
    position: fixed;
  }
  #menu__toggle{
    position: fixed;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
  
    width: 200px;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
    z-index: 1;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
  
    color: #333;
  
      font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  } 
  }