@import "_null.scss";
@import "_fonts.scss";

body {
	background-color: #fff;
	font-family: 'Circe', sans-serif;
	font-weight: bold;
}

.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	user-select: none;  
}

.fullscreen {
	min-height: 100vh;
	display: flex;

	&__back-1 {
		background: url(../img/backs/main.png) no-repeat center;
		&:before {background-color: rgba(0, 0, 0, 0.4);}
	}

	&__back-2 {
		background: url(../img/backs/main_2.png) no-repeat center;
		&:before {background-color: rgba(0, 0, 0, 0.6);}
	}

	&__back-3 {
		background: url(../img/backs/main_3.png) no-repeat center;
		&:before {background-color: rgba(0, 0, 0, 0.6);}
	}

	&__back-4 {
		background: url(../img/backs/main_4.png) no-repeat center;
		&:before {background-color: rgba(0, 0, 0, 0.6);}
	}

	&__back-1, &__back-2, &__back-3, &__back-4{
		background-size: cover;
		position: relative;
		transition: all 0.5s ease;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	color: white;	

	&__body {
		flex: 1 0 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 1675px;
		margin: 100px auto;
		//padding: 0 15px;	
		z-index: 200;	
		position: relative;
	}

	&__logo {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		min-width: 146px;
		max-width: 146px;

		.logo {

			&__body {transition: all 0.5s ease;}
	
			&__body-transform {
				transform: translateY(-265px);
				transition: all 0.5s ease;
			}
		}	
		

		div {
			position: relative;

			img {width: 100%;}
		}
	}

	&__content {
		flex: 1 0 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		margin: 0 0 0 145px;
	}

	&__header {
		display: grid;
		align-items: end;
		grid-template-columns: minmax(0px, 810px) minmax(0px, 495px);
		grid-template-rows: 30px;
		grid-gap: 120px;
		font-size: 20px;
		z-index: 30;

		margin: 0 0 0 85px;

		.header {
			&__left, &__rigth {
				display: flex;
				align-items: center;
				justify-content: space-between;

				a {
					color: white;
				}
			}
		
			&__socs {
				ul {
					display: flex;
					max-height: 30px;
				}

				ul li {
					margin: 0 10px;
					max-width: 18px;

					&:first-child {
						margin: 0 40px 0 0;
					}

					&:last-child {
						margin: 0;
					}
				}
			}
		
			&__menu {
				.menu {
					&__button {
						display: inline-block;
						position: absolute;
						top: -12px;
						left: -12px;
						width: 25px;
						height: 25px;
						z-index: 20;

						span {
							position: absolute;
							top: 50%;
							right: 0;
							height: 1px;
							width: 60px;
							background: #fff;
						}
		
						&:before, &:after {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							height: 1px;
							width: 100%;
							background: #fff;
						}

						span {
							display: none;
							
						}
		
						&:before {
							transform: rotate(45deg);
							top: 50%;
						}
		
						&:after {
							transform: rotate(-45deg);
							top: 50%;
						}
					}

					&__list {
						position: absolute;
						top: 47%;
						transform: translateY(-168px);
						left: -100px;
						width: 100%;
						padding: 0 15px;
						margin: 50px 0;
						
						ul {
							display: grid;
							justify-content: center;
							align-items: center;
							grid-template: repeat(3, 120px) / minmax(0, 600px) minmax(0, 775px);
							

							& li {
								display: block;
								font-size: 63px;
								font-weight: 200;
								height: 100%;
								position: relative;

								border-bottom: 1px solid rgba(255, 255, 255, 0.7);
								border-right: 1px solid rgba(255, 255, 255, 0.7);


								&:nth-child(odd){
									border-left: 1px solid rgba(255, 255, 255, 0.7);
								}

								&:first-child {
									border-left: none;
								}

								&:first-child {
									.item {
										&__wrap {
											border: none;
											position: relative;
											width: 100%;
											height: 100%;

											&:before, &:after {
												content: '';
												position: absolute;		
												background: rgba(255, 255, 255, 0.7);
											}
		
											&:before {
												top: 0;
												right: 0;
												width: 96%;
												height: 1px;
											}
		
											&:after {
												bottom: 0;
												left: 0;
												width: 1px;
												height: 80%;
											}
										}
									}									
								}

								&:nth-child(2) {
									border-top: 1px solid rgba(255, 255, 255, 0.7);
								}

								a {
									display: flex;
									align-items: center;
									width: 100%;
									height: 100%;
									padding: 0 0 0 65px;								
								}

								&:hover:before {
									content: '';
									position: absolute;
									top: 50%;
									transform: translateY(-9px);
									left: 25px;
									height: 100%;
									width: 100%;
									background: url(../img/icons/menu_item.svg) no-repeat;
								}
							}
						}
					}

					&__arrow {
						position: absolute;
						bottom: 15%;
						left: 40%;
						width: 55px;
						height: 55px;
						transform: rotate(90deg);
				
						&:before, &:after, span:before {
							content: '';
							position: absolute;
							right: -10px;
							background: white;
							height: 2px;
							width: 35px;
							
						}
				
						&:before {
							transform: rotate(118deg);
							top: 43px;
						}
				
						&:after {
							transform: rotate(62deg);
							top: 14px;
						}
				
						span:before {
							top: 28.5px;
							right: 1px;
							width: 56px;
						}
					}
				}
			}

			&__button {
				min-width: 175px;
				display: flex;
				justify-content: space-between;			
			}

			&__burger {
				position: relative;
				width: 25px;
				height: 25px;

				span {
					position: absolute;
					top: 50%;
					right: 0;
					height: 1px;
					width: 60px;
					background: #fff;
				}

				&:before, &:after {
					content: '';
					position: absolute;
					top: 9px;
					left: 0;
					height: 1px;
					width: 100%;
					background: #fff;
				}

				&:after {
					top: 17px;
				}
			}

			&__burger.--active {
				span {
					display: none;
				}

				&:before {
					transform: rotate(45deg);
					top: 50%;
				}

				&:after {
					transform: rotate(-45deg);
					top: 50%;
				}
			}
		}
	}

	&__slider {
		margin: 65px 0;
		flex-direction: column;
		justify-content: start;
		position: relative;
		overflow: hidden;
		width: 100%;


		.slider {
			&__nav {
				margin: 0 0 65px 0;
				ul {
					display: flex;
		
					& li {
						font-size: 28px;
						font-weight: 200;
		
						&:first-child {
							margin: 0 80px 0 0;
						}
		
						& a {
							color: #ffffff;
						}
					}
				}
			}
		
			&__title {
				font-size: 80px;
				font-weight: bold;
				
				p:first-child {
					margin: 0 0 15px 0;
				}
			}
		
			&__advert {
				display: flex;
				align-items: center;
				font-size: 24px;
				font-weight: 200; 
				margin: 65px 0 0 0;
		
				div:first-child {
					margin: 0 17px 0 0;
				}
		
				div:last-child {
					p:first-child {
						padding: 0 0 10px 0;
					}
				}
			}
		
			&__arrow-right {
				position: absolute;
				top: 50%;
				right: 5px;
				width: 55px;
				height: 55px;
				z-index: 50;
		
				&:before, &:after, span:before {
					content: '';
					position: absolute;
					right: -10px;
					background: white;
					height: 2px;
					width: 35px;
					
				}
		
				&:before {
					transform: rotate(118deg);
					top: 43px;
				}
		
				&:after {
					transform: rotate(62deg);
					top: 14px;
				}
		
				span:before {
					top: 28.5px;
					right: 1px;
					width: 56px;
				}
		
			}

			&__arrow-left {
				position: absolute;
				top: 50%;
				left: 5px;
				width: 55px;
				height: 55px;
				z-index: 50;
		
				&:before, &:after, span:before {
					content: '';
					position: absolute;
					left: 0;
					background: white;
					height: 2px;
					width: 35px;
					
				}
		
				&:before {
					transform: rotate(118deg);
					top: 13px;
					left: -9px;
				}
		
				&:after {
					transform: rotate(62deg);
					top: 44px;
					left: -9px;
				}
		
				span:before {
					top: 28.5px;
					right: 1px;
					width: 56px;
				}
			}

			&__track {
				display: flex;
				transition: 1s;
			}

			&__block{
				min-height: 400px;
				min-width: 33.3%;

				&:first-child {
					margin: 0 0 0 85px;
				}

				//&:nth-child(1n+1) {background: red;}
				//&:nth-child(1n+2) {background: green;}
				//&:nth-child(1n+3) {background: blue;}
			}
		}
	}

	&__footer {
		display: grid;
		align-items: center;
		justify-self: center;
		grid-template-columns: minmax(0px, 1085px);
		position: relative;

		font-size: 18px;
		font-weight: bold;
		letter-spacing: 0.9px;

		margin: 0 0 0 85px;

		.footer {
			&__number {
				position: absolute;
				bottom: -30px;
				right: 0;
			}
		}

		ul {
			display: flex;
			justify-content: space-between;
			//position: relative;

			& li a {
				color:white;
				font-size: 18px;
			}

			&:before {
				content: '';
				position: absolute;
				top: -21px;
				left: -100px;
				width: 55px;
				height: 55px;
				background: url(../img/icons/play.svg) no-repeat;
			}
		}		
	}

	.contacts {
		&__title {
			font-size: 63px;
			font-weight: 200;
			margin: 0 0 85px 0;
		}

		&__body {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding: 0 15px;
			margin: 50px 0;
			align-items: center;
		}

		&__aside {
			position: relative;
			max-width: 285px;
			margin: 0 80px 0 0;
		}

		&__phones {
			font-size: 18px;
			font-weight: 300;
			letter-spacing: 0.9px;

			ul {
				li {
					margin: 0 0 60px 0;
				}
			}
		}

		&__map {
		}

		&__links {
			margin: 0 0 0 135px;
			width: 100%;

			& ul li {
				&:first-child {
					margin: 0 0 65px 0;
				}

				a {
					display: flex;
					align-items: center;
					color: white;
					font-size: 23px;
					font-weight: 400;
					line-height: 30px;
					
					div {
						margin: 0 35px 0 0;
					}
				}
			}
		}

		&__cross {
			display: inline-block;
			position: absolute;
			top: 25px;
			left: -55px;
			width: 25px;
			height: 25px;
			z-index: 20;

			span {
				position: absolute;
				top: 50%;
				right: 0;
				height: 1px;
				width: 60px;
				background: #fff;
			}

			&:before, &:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 1px;
				width: 100%;
				background: #fff;
			}

			span {
				display: none;	
			}

			&:before {
				transform: rotate(45deg);
				top: 50%;
			}

			&:after {
				transform: rotate(-45deg);
				top: 50%;
			}
		}
	}

	.news {
		&__body {
			position: absolute;
			top: 0;
			left: 0;
			max-width: 1170px;
			width: 100%;
			padding: 0 15px;
			margin: 140px 0 0 0;

			&-show {
				display: block;
			}
		}

		&__title {
			font-size: 63px;
			font-weight: 100;
			margin: 0 0 70px 0;
		}

		&__cross {
			display: inline-block;
			position: absolute;
			top: 25px;
			left: -45px;
			width: 25px;
			height: 25px;
			z-index: 20;

			span {
				position: absolute;
				top: 50%;
				right: 0;
				height: 1px;
				width: 60px;
				background: #fff;
			}

			&:before, &:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 1px;
				width: 100%;
				background: #fff;
			}

			span {
				display: none;	
			}

			&:before {
				transform: rotate(45deg);
				top: 50%;
			}

			&:after {
				transform: rotate(-45deg);
				top: 50%;
			}
		}

		&__row {
			display: grid;
			grid-template: minmax(0, 380px) / repeat(3, 1fr);
			grid-gap: 45px;
			position: relative;
		}

		&__block {
			height: 100%;
			border: 1px solid rgba(255, 255, 255, 0.7);
			padding: 37px;

			.block {
				&__image {
					max-width: 268px;
					max-height: 151px;
					margin: 0 0 45px 0;

					img {
						width: 100%;
					}
				}

				&__title {
					font-size: 24px;
					font-weight: bold;
					margin: 0 0 23px 0;
				}

				&__desc {
					font-size: 14px;
					font-weight: 200;
					line-height: 23px;
				}
			}
		}

		&__arrow-left {
			position: absolute;
			top: 50%;
			transform: translateY(-28px);
			left: -100px;
			width: 55px;
			height: 55px;
	
			&:before, &:after, span:before {
				content: '';
				position: absolute;
				left: 0;
				background: rgba(255, 255, 255, 0.7);
				height: 1px;
				width: 35px;
				
			}
	
			&:before {
				transform: rotate(118deg);
				top: 13px;
				left: -9px;
			}
	
			&:after {
				transform: rotate(62deg);
				top: 44px;
				left: -9px;
			}
	
			span:before {
				top: 28.5px;
				right: 1px;
				width: 56px;
			}
		}

		&__arrow-right{
			position: absolute;
			top: 50%;
			transform: translateY(-28px);
			right: -100px;
			width: 55px;
			height: 55px;
	
			&:before, &:after, span:before {
				content: '';
				position: absolute;
				right: -10px;
				background: rgba(255, 255, 255, 0.7);
				height: 1px;
				width: 35px;
				
			}
	
			&:before {
				transform: rotate(118deg);
				top: 43px;
			}
	
			&:after {
				transform: rotate(62deg);
				top: 14px;
			}
	
			span:before {
				top: 28.5px;
				right: 1px;
				width: 56px;
			}
		}
	}
}

//medias

@media (max-width: 1600px) {
	.footer {
		&__number {
			top: -250px;
			left: 69%;
		}
	}

	.fullscreen {
		&__body {
			flex: 1 0 100%;
			display: flex;
			max-width: 1375px;
			padding: 50px 15px;
			margin: 0 auto;		
		}

		&__slider {
			margin: 50px 0 0 0;
		}

		.slider {
			&__button {
				top: 50%;
			}
		}
	}
}

@media (max-width: 1440px) {
	.fullscreen {
		&__body {
			max-width: 1375px;
			padding: 50px 15px;	
		}

		&__slider {
			margin: 50px 0;
		}

		&__footer {
			font-size: 10px;
		}

		&__logo {
			height: 100%;
			min-width: 100px;
			max-width: 100px;
			display: flex;
			justify-content: center;
			transition: all 0.5s ease;

			.logo {

				&__body {transition: all 0.5s ease;}
		
				&__body-transform {
					transform: translateY(-160px);
					transition: all 0.5s ease;
				}
			}
	
			div {
				display: inline-block;
				img {
					width: 100%;
				}
			}
		}

		&__content {
			margin: 0 0 0 40px;
		}

		&__header {
			font-size: 14px;
		}
	}

	

	.slider {
		&__title {
			font-size: 60px;
			margin: 20px 0;
		}

		&__advert {
			margin: 50px 0 0 0;
		}

		&__button {
			top: 50%;
			transform: translateY(-27px);
		}
	}

	.footer {
		&__number {
			bottom: 70px;
			right: 18%;
		}

		&__nav {
			ul li a {
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 1024px) {
	.fullscreen {
		&__body {
			max-width: 950px;
			padding: 50px 15px;
			//position: relative;
		}

		.menu {
			&__list {
				position: relative;
			}
		}
	}

	.slider {
		&__title {
			font-size: 40px;
			margin: 20px 0;
		}

		&__advert {
			margin: 50px 0 0 0;

			div:last-child {
				max-width: 400px;
			}
		}
	}

	.footer {
		&__number {
			position: absolute;
			bottom: 115px;
			//right: %;
			max-width: 120px;

			img {
				width: 100%;
			}
		}
	}

	.menu {
		&__list {
			ul {
				& li {
					font-size: 30px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.fullscreen {
		&__header {
			grid-gap: 0px;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 30px);
		}

		&__content {
			margin: 0 0 0 40px;
		}
	}

	.footer {
		&__number {
			bottom: 55px;
		}
	}
}

//global modifications
.--show {display: flex;}

.--hidden {display: none;}