*{
    padding: 0;
    margin: 0;
}
h2, h3 {
    font-family: Roboto, sans-serif;
}
header{
    width: 100%;
    height: 60px;
    background-color: #145896;
}
.menu{
    color: #F7F7F7;
    display: flex;
    flex-direction: row;
}
.logo{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 45px;
    margin-top: 8px;
    margin-left: 30px;
    flex-basis: 70%;
}
.nav{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin: auto 0;
    color: #F7F7F7;
    padding-right: 20px;
    text-decoration: none;
}
.navMenu{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    flex-basis: 30%;
}
.coin{
    display: flex;
    flex-wrap: wrap;
}
.coinObmen{
    padding-top: 50px;
    margin: 0 auto;
}





.select-arrow-3 {
    position: absolute;
    z-index: -9999;
    border: 8px solid transparent;
    border-bottom: 0;
    right: 8px;
}
.select-arrow-3:nth-child(1) {
    top: 18px;
    border-top-color: #202020;
}
.select-arrow-3:nth-child(2) {
    top: 16px;
    border-top-color: #FFF;
}

#content {
    width: 350px;
    margin: 20px auto;
    padding: 10px;
    border: 1px dotted gray;
}

.select-wrapper {
    position: relative;
    width: 350px;
    margin: 20px 0;
    border-bottom: 1px solid #6C7231;
}

.select-wrapper:hover {
    box-shadow: 0 0 3px gray;
}

.select-wrapper select {
    width: 350px;
    height: 36px;
    padding: 0 20px 0 7px;
    background: transparent;
    border: 0;
    appearance: none;            /* remove arrow        */
    -webkit-appearance: none;    /* remove arrow Chrome */
    -moz-appearance: none;       /* remove arrow FF     */
    font-size: 28px;
    outline:none;
}
.select-wrapper select::-ms-expand{
    display: none;             /* remove arrow IE     */
}


.submit{
    display: block;
    width: 200px;
    height: 50px;
    background-color: #145896;
    border-radius: 50px;

    font-family: Noto Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 49px;
    color: #F7F7F7;

    margin: 50px auto 0;
}
.submit:hover{
    background-color: #F7F7F7;
    border: 2px solid #145896;
    color: #145896;
}
.inp{
    width: 350px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #0B0B0C;
    font-size: 22px;
    outline:none;
}
.give{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 55px;
    color: #145896;
}
.get{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 55px;
    color: #145896;
}
.comment{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #0B0B0C;
}
.detal{
    margin-top: 50px;
    text-align: center;
    font-family: Noto Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 49px;
    color: #145896;
}
.inpEmail{
    width: 340px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #0B0B0C;
    font-size: 18px;
    outline:none;
}
.inpkey{
    width: 340px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #0B0B0C;
    font-size: 18px;
    outline:none;
}
.form{
    font-family: Noto Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #145896;
    margin-top: 30px;
}
.inputForm{
    margin: 0 auto;
}
.criptoBlock{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bitCripto{
    display: flex;
    flex-direction: column;
}
.nameCurs{
    width: 180px;
    height: 22px;
    color: #fffbfd;
    background-color: #145896;
    text-align: center;
    padding: 16px;
    border: 1px solid #2e2e2e;
    display: flex;
    flex-direction: row;
    transition: color 0.4s, background-color 0.4s;
}
.nameCurs p {
    text-align: left;
    margin: -5px 0 auto 0;
}
.nameCurs:hover{
    background-color: #ffffff;
    color: #0B0B0C;
}
.criptoBlock img{
    width: 35px;
    height: 35px;
    margin: -5px 0 0 auto;
}

#CurrencyTake img{
    margin: -5px 0 auto 0 !important;
    padding: 0 5px 0 5px;
    border-left: solid gray 2px;
}
#CurrencyTake .nameCurs{
    width: 280px;
}
.rate {
    width: 100px;
}








#rez{
    display: block;
    margin-top: 50px;
    margin-left: 50px;
}
.bitRez{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.bitRez > img{
    width: 35px;
    margin-right: 20px;
}
.rezCoin{
    margin-right: 40px;
}
.rezCoin > span{
    margin-left: 15px;
}
.nameCoin{
    margin: auto 0;
    flex-basis: 95%;
}



/* Страничка контактов */


.kon{
    display: block;
    margin: 0 auto;
    max-width: 412px;
}

/* Страничка контактов */
.formMargin{
    margin-top: 20px;
}
.formButton{
    margin: 20px auto 0 auto;
}
.formSize{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
.formFlex{
    display: flex;
    flex-direction: row;
}
.formInp{
    width: 200px;
    height: 18px;
    float: right;
    border-radius: 15px;
    border: 1px solid #0B0B0C;
    padding-left: 5px;
    outline:none;
}
.formText{
    width: 260px;
    height: 200px;
    float: right;
    border: 1px solid #0B0B0C;
    outline:none;
    padding: 5px;
}

